.extremidade{
	background-color: #000000;
}
#botDiv{
	position: fixed;
	bottom: 0;
	border-top: 2px solid;
	-moz-border-top-colors: rgb(177, 177, 177) rgb(101, 101, 101);
}

#topDiv{
	top:0;
	text-shadow: 1px 0px 2px rgb(255, 255, 255);
	font-size: 6vh;	
	border-bottom: 2px solid;
	-moz-border-bottom-colors: rgb(177, 177, 177) rgb(101, 101, 101);	
}

#perfil{
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 15px;
	height: 95%;
	width: 80%;
	margin: auto;
	margin-top: 25px;
}

.background{
	background: fixed no-repeat url("../image/backgroung.jpg");
	background-size: cover; 
	font-family: Courier New;
}

.divInformation{
	width: 100%;
	height: 100%;
}

.tablePerfil{
	color: whitesmoke;	
	font-size: 2.5vh;
}

#loading{
	z-index: 3;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(35,35,35,0.5);
}

#littleMySelf{
	margin: 10% auto 0;
}

#mySelf{
	margin:10% auto 0;
	z-index: 2;
	display: none;
    transition: all 0.5s linear 0s;
}

.tropHide{
    filter: opacity(0%);
    transition: all 2s linear 0s;
}

div:hover ~ span {
    display: block;
    filter: opacity(100%);
}

